<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Trustworthy Tutors &copy; <span id="footer-year"></span>
        </p>
    </div>
</footer>

<script>
    const y = new Date().getUTCFullYear();
    $("#footer-year").html(y);
</script>