<nav class="navbar is-fixed-top" role="navigation">
    <nav class="navbar-start">
        <div class="navbar-brand">
            <a href="/" class="navbar-item title">TRUSTWORTHY TUTORS</a>
        </div>
    </nav>
    <nav class="navbar-end">
        <a href="/" class="navbar-item">Home</a>
        <a href="#about" class="navbar-item">About Us</a>
        <a href="#mission" class="navbar-item">Our Mission</a>
        <a href="/register" class="navbar-item">Register</a>
        <a href="/login" class="navbar-item">Login</a>
    </nav>
</nav>