<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("partials/headings.ejs") %>
    <title>Home Page</title>
</head>
<body class="has-navbar-fixed-top">

<%- include("partials/navbar-normal.ejs") %>

<section class="hero is-fullheight has-text-light mb-6">
    <img src="assets/people-woman-coffee-meeting.webp" alt="banner_pic" class="hero-background" />
    <div class="hero-body">
        <div id="modal-text">
            <h1 class="title has-text-light">Trustworthy Tutors</h1>
            <p>Join us for good grades</p>
            <div>
                <button class="button mt-4">Register</button>
            </div>
        </div>
    </div>
</section>

<section class="container column">
    <div class="title has-text-centered">About Us</div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deleniti dolores, dolorum eaque eos facilis fuga hic id labore molestias nam numquam obcaecati odit, quis quos reprehenderit, sunt tempora voluptatibus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda ducimus excepturi, expedita illo impedit laborum mollitia natus nemo nulla quaerat quia. Corporis ipsa iure minima neque perspiciatis quia sit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ea est eum iusto nemo. Facilis nam quia quis repudiandae tenetur ut. Autem cupiditate dicta incidunt minus numquam sequi veritatis vero.
    </p>
</section>

<section class="container column has-text-centered">
    <div class="columns mt-6">
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title is-centered">Math</div>
                </div>
                <div class="card-image">
                    <img src="assets/math.webp" alt="science.webp">
                </div>
                <div class="modal-card-body has-text-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci optio possimus reprehenderit sunt. Animi,
                    culpa distinctio ea eos minima omnis quasi saepe sapiente similique ullam? Commodi deserunt necessitatibus quis
                    repellat!
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title is-centered">Science</div>
                </div>
                <div class="card-image">
                    <img src="assets/technology.webp" alt="">
                </div>
                <div class="modal-card-body has-text-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci optio possimus reprehenderit sunt. Animi,
                    culpa distinctio ea eos minima omnis quasi saepe sapiente similique ullam? Commodi deserunt necessitatibus quis
                    repellat!
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title is-centered">Technology</div>
                </div>
                <div class="card-image">
                    <img src="assets/science.webp" alt="science.webp">
                </div>
                <div class="modal-card-body has-text-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci optio possimus reprehenderit sunt. Animi,
                    culpa distinctio ea eos minima omnis quasi saepe sapiente similique ullam? Commodi deserunt necessitatibus quis
                    repellat!
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container column is-half">
    <div class="title has-text-centered">Contact Us</div>
    <form action="/contact" method="post">
        <label class="label" for="first-name">
            First Name
            <input type="text" class="input">
        </label>
        <label for="last-name" class="label">
            Last Name
            <input type="text" class="input">
        </label>
        <label for="email" class="label">
            Email
            <input type="email" class="input">
        </label>
        <div class="has-text-centered">
            <button class="button has-text-centered">Contact</button>
        </div>
    </form>
</section>

<%- include("partials/footer") %>

</body>
</html>