<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("partials/headings") %>
    <title>Register</title>
</head>
<body class="has-navbar-fixed-top">

<%- include("partials/navbar-normal") %>

<section class="section column">
    <div class="title container has-text-centered">Register</div>
    <form id="register-form" method="post">
        <div class="container column is-half">
            <label for="email" class="label">
                Email
                <input type="email" class="input" required name="email">
            </label>
            <label for="password" class="label">
                Password
                <input id="register-password1" type="password" class="input" required name="password1">
            </label>
            <label for="password-confirm" class="label">
                Confirm password
                <input id="register-password2" type="password" class="input" required name="password2">
            </label>
            <div class="control column container has-text-centered" id="radio-register">
                <label class="radio">
                    <input type="radio" name="type" value="student" required class="radio-register-check">
                    Student
                </label>
                <label class="radio">
                    <input type="radio" name="type" value="tutor" required class="radio-register-check">
                    Tutor
                </label>
                <label class="radio">
                    <input type="radio" name="type" value="parent" required class="radio-register-check">
                    Parent
                </label>
            </div>
            <div class="container column has-text-centered">
                <div id="register-button-notification" class="notification is-danger is-light" hidden>
                    Passwords do not match
                </div>
                <button id="register-button" class="button">Register</button>
            </div>
        </div>
    </form>
</section>

<%- include("partials/footer") %>

<script src="javascript/register.js"></script>

</body>
</html>
