<nav class="navbar is-fixed-top" role="navigation">
    <nav class="navbar-start">
        <div class="navbar-brand">
            <a href="/" class="navbar-item title">TRUSTWORTHY TUTORS</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" id="navbar-burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>
    <nav class="navbar-end" id="navbar">
        <a href="/" class="navbar-item">Home</a>
        <a href="/course_search" class="navbar-item">Course Lookup</a>
        <a href="/logout" class="navbar-item">Logout</a>
    </nav>
</nav>

<script>
  function windowSizer() {
    const ww = window.innerWidth
    if(ww <= 1024) {
      $("#navbar").addClass("navbar-menu")
    } else {
      $("#navbar").removeClass("navbar-menu")
    }
  }
  $(document).on('ready', windowSizer());
  $(window).on('resize', function(){
    windowSizer();
  });
  $("#navbar-burger").on('click', () => {
    console.log("Hello")
    if($("#navbar").hasClass("navbar-menu")) {
      $("#navbar").removeClass("navbar-menu");
    } else {
      $("#navbar").addClass("navbar-menu");
    }
  })
</script>
